<section id="additional" class="w-full min-h-screen mx-auto bg-white pt-24 pb-32 mx-auto px-5 max-w-5xl">
    <h1 class="w-full px-5 mb-5 sm:mb-0 sm:my-10 text-center uppercase text-blue-800 my-4 font-bold text-xl sm:text-3xl tracking-wider">
        Additional Information</h1>
    <div class="mx-auto">
        <ul class="my-10 mb-0 mx-5 sm:mx-10 max-w-3xl">
            <li class="flex items-start py-4">
                <img class="mt-2 w-2 h-2 text-blue-800 mr-4 inline-block" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/right-arrow.svg"
                     alt="arrow right">
                <p class="text-blue-800  sm:px-2">Familiar with programs: SCAD Office, Tekla Structures, AutoCAD,
                    nanoCAD, BricsCAD, Compass, Microsoft Office, OpenOffice, Photoshop, etc.</p>
            </li>
            <li class="flex items-start py-4">
                <img class="mt-2 w-2 h-2 text-blue-800 mr-4 inline-block" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/right-arrow.svg"
                     alt="arrow right">
                <p class="text-blue-800  sm:px-2">Completed advanced training courses on the program “Device and Design
                    of Foundations”, Moscow (12/03/2011);
                </p>
            </li>
            <li class="flex items-start py-4">
                <img class="mt-2 w-2 h-2 text-blue-800 mr-4 inline-block" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/right-arrow.svg"
                     alt="arrow right">
                <p class="text-blue-800  sm:px-2">Participation in seminars "SCAD Soft" in Kiev, Moscow;

                </p>
            </li>
            <li class="flex items-start py-4">
                <img class="mt-2 w-2 h-2 text-blue-800 mr-4 inline-block" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/right-arrow.svg"
                     alt="arrow right">
                <p class="text-blue-800  sm:px-2">Have level of English B2 (upper-intermediate). Graduated from the
                    courses "Career English Online";</p>
            </li>
            <li class="flex items-start py-4">
                <img class="mt-2 w-2 h-2 text-blue-800 mr-4 inline-block" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/right-arrow.svg"
                     alt="arrow right">
                <p class="text-blue-800  sm:px-2"> Have a drive license cat. 'B', driving experience is 23 years;
                </p>
            </li>
            <li class="flex items-start py-4">
                <img class="mt-2 w-2 h-2 text-blue-800 mr-4 inline-block" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/right-arrow.svg"
                     alt="arrow right">
                <p class="text-blue-800  sm:px-2">No bad habits, I am ready for business trips.</p>
            </li>
        </ul>
        <div class="-mt-10 md: mx-10">
            <img class="ml-auto mr-5 sm:mr-10 w-48 h-auto" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/building-sketch.png" alt="building-sketch">
        </div>
    </div>
</section>

