<section id="credentials" class="w-full min-h-screen mx-auto bg-white pt-24 pb-8 mx-auto px-5 max-w-5xl">
    <h1 class="w-full px-5 mb-5 sm:mb-0 sm:my-10 text-center uppercase text-blue-800 font-bold text-xl sm:text-3xl tracking-wider">Credentials</h1>

    <div class="flex flex-col my-10">
        <button data-id="diplomas" class="pointer w-full flex justify-between items-center bg-blue-800 p-5 text-white focus:outline-none active:outline-none target:outline-none">Diplomas
            <img class="arrow hidden h-5 w-5 text-white" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/up-arrow.svg" alt="hide">
            <img class="arrow h-5 w-5 text-white" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/angle-arrow-down.svg" alt="show">
        </button>
        <div id="diplomas" class="hidden">
            <div class=" py-10 flex flex-col sm:flex-row items-center sm:items-stretch sm:flex-wrap sm:justify-center">

                <div class="bg-gray-200  flex flex-col sm:w-2/5 p-5 max-w-sm mb-10 mx-5">
                    <div class="h-56 w-auto">
                        <img class="object-contain w-full h-full" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/credentials/diploma.webp" alt="diploma">
                    </div>
                    <p class="serif px-2 pt-5 text-blue-800 text-center">Master of Arts in a field "Civil and Structural Engineering"</p>
                    <p class="mt-4 text-sm serif pb-5 text-blue-800 text-center">Donbass National Academy of Civil Engineering and Architecture</p>
                </div>

                <div class="bg-gray-200 sm:flex-grow flex flex-col sm:w-2/5 p-5 max-w-sm mb-10 mx-5">
                    <div class="h-56 w-auto">
                        <img class="object-contain w-full h-full" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/credentials/b2level.webp" alt="diploma">
                    </div>
                    <p class="serif px-2 pt-5 text-blue-800 text-center">The Graduation Diploma of Successful Completion in the field
                        <br>"English Language and Culture"</p>
                    <p class="mt-4 text-sm serif pb-5 text-blue-800 text-center">Odessa School of Foreign Languages "Chkalovsky"</p>
                </div>

            </div>
        </div>
    </div>
    <div class="flex flex-col my-10 mb-0">
        <button  data-id="certificates" class="w-full flex justify-between items-center  bg-blue-800 p-5 text-white focus:outline-none active:outline-none target:outline-none">Certificates
            <img class="arrow hidden h-5 w-5 text-white" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/up-arrow.svg" alt="hide">
            <img class="arrow h-5 w-5 text-white" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/angle-arrow-down.svg" alt="show">
        </button>
        <div id="certificates" class="hidden">
            <div class=" py-10 flex flex-col sm:flex-row items-center sm:items-stretch sm:flex-wrap sm:justify-center ">

                <div class="bg-gray-200 sm:flex-grow flex flex-col sm:w-2/5 p-5 max-w-sm mb-10 mx-5">
                    <div class="h-56 w-auto">
                        <img class="object-contain w-full h-full" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/credentials/career-online.webp" alt="certificate">
                    </div>
                    <p class="serif px-2 pt-5 text-blue-800 text-center">Certificate of Competition "Career English Online"</p>
                    <p class="mt-4 text-sm serif pb-5 text-blue-800 text-center">U.S. Embassy Kyiv br U.S. Department of State</p>
                </div>

                <div class="bg-gray-200 sm:flex-grow flex flex-col sm:w-2/5 p-5 max-w-sm mb-10 mx-5">
                    <div class="h-56 w-auto">
                        <img class="object-contain w-full h-full" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/credentials/advanced.webp" alt="certificate">
                    </div>
                    <p class="serif px-2 pt-5 text-blue-800 text-center">The Honorable Certificate in Advanced Course of English</p>
                    <p class="mt-4 text-sm serif pb-5 text-blue-800 text-center">Odessa School of Foreign Languages "Chkalovsky"</p>
                </div>
            </div>
        </div>
    </div>
</section>
