<section class="h-auto bg-fixed bg-center relative"
         style="background-image: url('https://melnychenko97.github.io/maxim-melnychenko-cv/assets/industrial.webp'); height: 25rem; min-height: 600px;">

    <div class="bg-blue-700 opacity-50 absolute top-0 left-0 h-full w-full z-10"></div>

    <div class="mx-auto md:w-4/5 lg:w-2/3 z-20 relative">

        <div class="bg-white shadow-2xl static mt-12 md:mt-0 md:absolute flex w-full flex-wrap max-w-3xl" style="top: 10rem;">
            <div class="hidden md:block w-full md:w-1/2 bg-cover" style="max-height: 406px; background-image: url('https://melnychenko97.github.io/maxim-melnychenko-cv/assets/Melnychenko.webp');">
            </div>
            <div class="md:hidden mt-10 mx-5 bg-no-repeat bg-center bg-contain w-full md:w-1/2 bg-cover"  style="min-height: 406px; max-height: 406px; background-image: url('assets/Melnychenko.webp');">
            </div>
            <div class="flex flex-col items-center p-10 w-full md:w-1/2 bg-white h-auto">

                <h3 class="bg-center bg-fixed font-sans w-full text-2xl flex text-blue-800">
                    Maxim Melnychenko
                </h3>
                <h4 class="font-sans w-full text-lg font-bold text-blue-800">
                    Engineer of Civil & Industrial Structures
                </h4>

                <ul class="mt-8 w-full">
                    <li class="mb-5 flex flex-col">
                        <span class="text-lg text-blue-800 font-bold">Contact Phone:</span>
                        <span class="text-sm text-blue-800">+38 050 500 85 38</span>
                    </li>
                    <li class="mb-5 flex flex-col">
                        <span class="text-lg text-blue-800 font-bold">Email:</span>
                        <span class="text-sm text-blue-800">max74.mel74@gmail.com</span>
                    </li>

                    <li class="mb-5 flex flex-col">
                        <span class="text-lg text-blue-800 font-bold">Date of Birth: </span>
                        <span class="text-sm text-blue-800">February 2, 1974</span>
                    </li>
                </ul>

            </div>
            <div class="w-full bg-blue-700">
                <ul class="w-full h-full flex justify-center items-center">
                    <li class="mr-10">
                        <a target="_blanket" class="p-5" href="https://www.facebook.com/profile.php?id=100008318206623">
                            <img class="bg-transparent text-white text-white-100 h-6 w-6" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/facebook-logo.svg" alt="facebook profile">
                        </a>
                    </li>
                    <li>
                        <a target="_blanket" class="p-5" href="https://www.linkedin.com/in/%D0%BC%D0%B0%D0%BA%D1%81%D0%B8%D0%BC-%D0%BC%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D1%87%D0%B5%D0%BD%D0%BA%D0%BE-71b97b151/">
                            <img class="bg-transparent text-white h-6 w-6" src="https://melnychenko97.github.io/maxim-melnychenko-cv/assets/icons/linkedin-logo.svg" alt="linkedin profile">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

