<section id="profskills" class="w-full mx-auto min-h-screen bg-white pt-24 max-w-5xl">
    <h1 class="w-full px-5 mb-5 sm:mb-0 sm:my-10 text-center uppercase text-blue-800 font-bold text-xl sm:text-3xl tracking-wider">Professional Skills</h1>
    <div class="relative bg-cover bg-center bg-repeat mt-5 h-auto bg-fixed relative pb-16" style="background-image: url('https://melnychenko97.github.io/maxim-melnychenko-cv/assets/scheme.webp')">
        <ul class="relative w-full mx-auto max-w-3xl px-5 py-10 z-20">
            <li class="relative w-full my-10"><p class="bg-blue-800 top-0 left-0 absolute opacity-75 w-full h-full"></p><p class="relative z-40 text-white serif w-full px-5 py-4">Implementation of designs in SCAD Office</p></li>
            <li class="relative w-full my-10"><p class="bg-blue-800 top-0 left-0 absolute opacity-75 w-full h-full"></p><p class="relative z-40 text-white serif w-full px-5 py-4">Design of industrial
                buildings and structures. Development of drawings in fields such as Metal Constructions, Architectural Parts,
                Reinforced Concrete Structures, Water Supply and Sewerage, Architectural & Engineering parts</p></li>
            <li class="relative w-full my-10"><p class="bg-blue-800 top-0 left-0 absolute opacity-75 w-full h-full"></p><p class="relative z-40 text-white serif w-full px-5 py-4">Design of external and internal communications of Water Supply and Sewerage (
                service station, cafe, shop, hypermarket)</p></li>
            <li class="relative w-full my-10"><p class="bg-blue-800 top-0 left-0 absolute opacity-75 w-full h-full"></p><p class="relative z-40 text-white serif w-full px-5 py-4">Development of project documentation for the construction of gas stations and</p></li>
            <li class="relative w-full my-10"><p class="bg-blue-800 top-0 left-0 absolute opacity-75 w-full h-full"></p><p class="relative z-40 text-white serif w-full px-5 py-4">Development of project documentation for the construction of residential houses</p></li>
            <li class="relative w-full my-10"><p class="bg-blue-800 top-0 left-0 absolute opacity-75 w-full h-full"></p><p class="relative z-40 text-white serif w-full px-5 py-4">Development of project documentation for the reconstruction of establishments</p></li>
            <li class="relative w-full my-10"><p class="bg-blue-800 top-0 left-0 absolute opacity-75 w-full h-full"></p><p class="relative z-40 text-white serif w-full px-5 py-4">Development of project documentation for the reconstruction of industrial buildings</p></li>
            <li class="relative w-full my-10"><p class="bg-blue-800 top-0 left-0 absolute opacity-75 w-full h-full"></p><p class="relative z-40 text-white serif w-full px-5 py-4">Technical supervision of the state of the building structures of residential, public and industrial
                buildings, on the possibility of a superstructure and other related issues</p></li>
        </ul>
        <div class="bg-blue-700 opacity-50 absolute top-0 left-0 h-full w-full z-10"></div>
    </div>
</section>